<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 id="search-emp-id">Student ID: <%=result[0].student_id%></h1>

    <div id="serch-emp-info">
      <h3 class="search-emp-query">Name: <%=result[0].name%></h3>
      <h3 class="search-emp-query">Course:<%=result[0].course%></h3>
      <h3 class="search-emp-query">Phone Number: <%=result[0].phone_no%></h3>
      <h3 class="search-emp-query">Email: <%=result[0].email%></h3>
      <h3 class="search-emp-query">Joining Date:<%=result[0].joining_date%></h3>
    </div>
  </body>
</html>
